---
# Only the main Sass file needs front matter (the dashes are enough)
---


@charset "utf-8";
@use '_sass/footer-social';
@use '_sass/footer';
@use '_sass/google-fonts';
@use '_sass/syntax-highlighting';
@use '_sass/archive';

// Width of the content area
$content-width:    800px;
$on-phone:         450px;
$on-palm:          660px;
$on-laptop:        1000px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
// @import is being deprecated, but I can't figure out how to fix these last imports
// So they're staying until I decide to give a damn.

@import 'variables';
@import 'projects';
@import 'profile';
@import 'style';